/* Mobile with width size of 400px and above */
a {
  text-decoration: none;
  color: white;
}

/* Utilities */

.hd-color {
  color: #f42;
  font-size: 27px;
  font-weight: 800;
}

.hd-color-only {
  color: #f42;
}

.hd-color:hover {
  color: black;
}

.nav-mobile-2 p {
  padding: 0 1rem;
}

.sub-section-hd p {
  margin-left: 10px;
}

.latest-funding p {
  font-size: 30px;
  margin-left: 10px;
}

.bt-footer p {
  margin: 0 65px;
  color: #aaa;
}

.fl-1 {
  display: flex;
  justify-content: flex-start;
  margin: 0 5px;
}

.bt-footer-2 p {
  margin: 0 65px;
  color: #aaa;
}

.fl-1 div p {
  line-height: 1.5;
}

.containers-latest-deals p:hover {
  cursor: pointer;
  color: #f42;
}

header {
  top: 0;
  position: fixed;
  opacity: 1;
  width: 100%;
  z-index: 10;
  height: 155px;
}

main {
  height: auto;
  width: 100%;
  position: relative;
  margin-top: 100px;
}

.ipad-margin-lft {
  opacity: 1;
}

.ipad-nav-img {
  display: none;
}

.nav-mobile {
  height: 55px;
  width: 100%;
  opacity: 1;
  background-color: white;
}

.nav-ipad-2 {
  display: none;
  opacity: 1;
}

.nav-ipad {
  display: none;
}

.mb-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  position: relative;
}

.mb-container img {
  height: 50px;
  width: 5rem;
  padding: 0 1.5rem;
  background-color: red;
  fill: #fff;
}

.mb-container ul {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.fl-1 a {
  color: black;
}

.latest-funding p a {
  color: red;
}

.mb-container ul li a {
  margin: 0 1rem;
  border-left: 1px solid #d3d3d3;
  padding: 1rem;
}

.fa-search {
  color: #333;
}

.fa-bars {
  color: red;
}

.nav-mobile-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fd3;
  height: 50px;
  margin-top: -4.7px;
  line-height: 1.3;
  width: 100%;
  opacity: 1;
}

/* Small Phones between 401 and 767px Conversion of Grid to Cols */

.grid-sec {
  height: 900px;
  width: 100%;
  position: relative;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
  height: auto;
}

.main-grid .box1 {
  grid-row: 1/2;
  grid-column: 1/2;
  background: rgba(0, 0, 0, 0.25);
  position: relative;
  color: white;
  height: 300px;
  width: 100%;
}

.fl-1 img,
.fl-1 div {
  margin: 5px;
}

.containers-latest-deals div {
  margin-top: 10px;
  line-height: 1.3;
}

.main-grid .box1 div {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-left: 0.5rem;
}

.fl-1 img {
  height: 75px;
  width: 75px;
}

.box-a img {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 15px;
  left: 25px;
}

.mp-1 img {
  width: 100%;
  height: 400px;
}

.containers-latest-deals img {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.fl-1 img:hover {
  cursor: pointer;
}

.fl-1 div .wr:hover {
  color: #f42;
  cursor: pointer;
  font-weight: 700;
}

.containers-latest-deals div span {
  text-decoration: line-through;
}

.latest-funding p span {
  display: none;
}

.fl-1 div .hr {
  color: lightgray;
}

.fl-1 div .hr span:hover {
  cursor: pointer;
}

.main-grid .box1 img {
  height: 100%;
  width: 100%;
}

.main-grid .box2 img {
  height: 100%;
  width: 100%;
}

.main-grid .box3 img {
  height: 100%;
  width: 100%;
}

.latest .lt-small img {
  height: 100px;
  width: 100px;
}

.main-grid .box1 .content-1 img {
  display: none;
}

.main-grid .box2 {
  grid-row: 2/3;
  grid-column: 1/2;
  background: rgba(0, 0, 0, 0.25);
  position: relative;
  color: white;
  height: 300px;
  width: 100%;
}

.main-grid .box2 p {
  position: absolute;
  bottom: 5rem;
  margin-left: 0.8rem;
  font-size: 1.3rem;
  color: white;
}

.main-grid .box3 {
  grid-row: 3/4;
  grid-column: 1/2;
  position: relative;
  height: 300px;
  width: 100%;
}

.main-grid .box3 div {
  position: absolute;
  top: 10rem;
  margin-left: 0.8rem;
  font-size: 1.3rem;
  color: white;
  height: 200px;
}

.sub-section-1 {
  display: flex;
  flex-direction: column;
  height: auto;
  position: relative;
}

.sub-section-hd {
  display: flex;
  align-items: center;
  height: 70px;
}

.first-flex-container {
  height: auto;
  position: relative;
}

/* Latest Funding Section */

.container-lt-news {
  height: 810px;
  width: 100%;
  position: relative;
}

.latest-funding {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100%;
  color: #f42;
  position: relative;
}

.latest-funding .see-more {
  display: flex;
  flex-direction: column;
}

.box-a .fund-a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  width: 100%;
  line-height: 1.4;
}

.latest-funding .see-more a {
  color: red;
  font-size: 20px;
}

.box-a .fund-2 {
  width: 100%;
  box-sizing: border-box;
  padding-left: 25px;
  background-color: #fffaf8;
}

.box-a .fund-3 {
  box-sizing: border-box;
  padding-left: 25px;
  background-color: #fffaf8;
  border-top: 2px solid #ffebe7;
}

.box-a {
  height: 200px;
  width: 100%;
  position: relative;
  margin: 0 10px;
}

.box-a h2 {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: #f42;
  color: white;
  padding-left: 80px;
  width: 100%;
  box-sizing: border-box;
}

.box-a .fund-1 {
  width: 100%;
  padding-left: 80px;
  background-color: #ffebe7;
  box-sizing: border-box;
}

/* Gear Container Section */

.gear-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.gear-a {
  margin: 0 10px;
  height: auto;
  width: 100%;
}

.gear-a h2 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
  font-weight: 700;
  font-size: 25px;
}

.gear-a .mp-1 {
  height: 400px;
  width: 100%;
  position: relative;
}

.gear-a .mp-1 div {
  position: absolute;
  bottom: 40px;
  margin: 0 10px;
  color: white;
}

.gear-a .mp-1 div h3 {
  font-size: 13px;
  font-weight: 500;
}

.p-1 p:hover {
  text-decoration: underline;
}

.lt-deals p:hover {
  color: black;
}

.gear-a .mp-1 div p {
  font-size: 26px;
  margin-bottom: 10px;
}

.gear-a .img-gear {
  height: 400px;
  width: 100%;
}

.latest .lt-small {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  width: 100%;
}

.latest .lt-small .p-1 {
  height: 90px;
  width: 100%;
  background-color: ivory;
}

.latest .lt-small .p-1 > * {
  line-height: 1.5;
}

.latest div ul li {
  color: #333;
}

.latest div ul li:hover {
  cursor: pointer;
  color: black;
}

/* How to set UL lists after browser resset */

.latest ul {
  list-style: none;
  counter-reset: li;
}

.latest li::before {
  content: "•";
  color: #f42;
  display: inline-block;
  width: 10px;
  margin-left: -8px;
}

.latest {
  height: 300px;
  width: 100%;
}

.lt-deals {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
}

.containers-latest-deals {
  display: flex;
  justify-content: flex-start;
  height: 100px;
  width: 100%;
  font-weight: 900;
}

.containers-latest-deals h2 {
  color: lightgray;
}

/* Footer section */

footer {
  height: 300px;
  width: 100%;
}

.ft-1 {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-evenly;
  background-color: #131313;
}

.ft-1a {
  display: flex;
  justify-content: space-around;
  height: 45px;
  margin: 0 35px;
}

.ft-1a .s-icon {
  font-size: 20px;
  color: white;
  background-color: #333;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.ft-1a .s-icon:hover {
  background-color: black;
  cursor: pointer;
}

.ft-1b {
  display: flex;
  justify-content: space-around;
  height: 45px;
  margin: 0 50px;
  color: white;
  font-size: 12px;
}

.ft-1b:hover {
  cursor: pointer;
}

.bt-footer {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #000;
  line-height: 1.4;
}

.bt-footer-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #000;
  line-height: 1.4;
}

.bt-footer-2 .red {
  color: red;
}

.bt-footer-2 .ft-img-1 {
  margin-bottom: -15px;
  height: 40px;
  width: 30px;
  color: red;
}

.bt-footer-2 .ft-img-2 {
  height: 10px;
  width: 80px;
}

.bt-footer .red {
  color: red;
}

.bt-footer .ft-img-1 {
  margin-bottom: -15px;
  height: 40px;
  width: 30px;
  color: red;
}

.bt-footer .ft-img-2 {
  height: 10px;
  width: 80px;
}
